<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        
        <title>Add a new recipe</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Home</a>
                </div>
            </div>
        </nav>
        <div class="container">
    
            <div class="row">
               Enter the components of your new recipe below 
            </div>
            

        <div class="row">
            <form action="." method="ADD">
                <label for="name">Recipe Name:</label>
                <input type="text" id="name" name="name"><br><br>
                <label for="ing">Ingredients:</label>
                <textarea id="ing" name="ing" placeholder ="Don't forget to include amounts!"></textarea><br><br>
                <label for="steps">Directions:</label>
                <textarea id="steps" name="steps" placeholder="Steps!"></textarea><br><br>
                
                <label for="tomatoes">Roma Tomatoes:</label>
                <input type="number" id="tomatoes" name="tomatoes"><br><br>
                <label for="carrots">Carrots:</label>
                <input type="number" id="carrots" name="carrots"><br><br>
                <input type="submit" class="btn btn-success" value="Add">
            </form>
        </div>
    </div><!-- /.container -->
    </body>
</html>