<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='leaf.ico') }}">

        <title>Julia's Recipe Box</title>
        <nav class="navbar">
            <div>
                <img src="{{ url_for('static', filename='icon.png') }}">
                <a class="navbar-tab" href="/">Home</a>
                <a class="navbar-tab" href="/addnew">Add Recipe</a>
                <a class="navbar-tab" href="/menu">View Menu</a>
            </div>
        </nav>
    </head>

    <body>

        <div class="container">

            <div class="row"><form action="/alter" method="POST">
                <input type="hidden" id="rec" name="rec" value="{{ recipe.name }}">
                <label for="name"><b>&emsp;Recipe Name:</b></label>
                <input type="text" id="name" name="name" value="{{ recipe.name }}">&emsp;&emsp;&emsp;&emsp;<input type="submit" class="btn btn-success" value="Save Changes"><br><br><br>

                <label for="description"><b>&emsp;Description:</b></label><br><br>
                <textarea id="description" name="description" rows=2 cols=100>{{ recipe.description }}</textarea><br><br><br>

                <label for="steps"><b>&emsp;Directions:</b></label><br><br>
                <textarea id="steps" name="steps" rows=7 cols=100>{{ recipe.directions }}</textarea><br><br><br>

                <b>&emsp;Ingredients:</b><br>
                &emsp;&ensp;<small>To remove an ingredient, change it to blank</small><br><br>
                {% for ingredient in ingredients %}
                    &emsp;
                    <select name="ingn{{ ingredient.id }}" id="ingn{{ ingredient.id }}">
                        <option value="{{ ingredient.amount }}">{{ ingredient.amount }}</option>
                        <option value="0.25">1/4</option>
                        <option value="0.33">1/3</option>
                        <option value="0.5">1/2</option>
                        <option value="0.66">2/3</option>
                        <option value="0.75">3/4</option>
                        <option value="1">1</option>
                        <option value="1.25">1 1/4</option>
                        <option value="1.5">1 1/2</option>
                        <option value="1.75">1 3/4</option>
                        <option value="2">2</option>
                        <option value="2.25">2 1/4</option>
                        <option value="2.5">2 1/2</option>
                        <option value="2.75">2 3/4</option>
                        <option value="3">3</option>
                        <option value="3.25">3 1/4</option>
                        <option value="3.5">3 1/2</option>
                        <option value="3.75">3 3/4</option>
                        <option value="4">4</option>
                        <option value="4.5">4 1/2</option>
                        <option value="5">5</option>
                        <option value="5.5">5 1/2</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                    </select>
                    <select name="ingu{{ ingredient.id }}" id="ingu{{ ingredient.id }}">
                        <option value="{{ ingredient.unit }}">{{ ingredient.unit }}</option>
                        <option value="whole">whole</option>
                        <option value="cups">cups</option>
                        <option value="Tbsp">Tbsp</option>
                        <option value="tsp">tsp</option>
                        <option value="box">box</option>
                        <option value="can">can</option>
                        <option value="ounces">ounces</option>
                        <option value="cloves">cloves</option>
                        <option value="leaves">leaves</option>
                    </select>
                    <input type="text" id="ing{{ ingredient.id }}" name ="ing{{ ingredient.id }}" value= "{{ ingredient.name }}">
                    <br><br>
                {% endfor %}
                &emsp;
                <select name="ingn{{ x }}" id="ingn{{ x }}">
                    <option value="0.25">1/4</option>
                    <option value="0.33">1/3</option>
                    <option value="0.5">1/2</option>
                    <option value="0.66">2/3</option>
                    <option value="0.75">3/4</option>
                    <option value="1">1</option>
                    <option value="1.25">1 1/4</option>
                    <option value="1.5">1 1/2</option>
                    <option value="1.75">1 3/4</option>
                    <option value="2">2</option>
                    <option value="2.25">2 1/4</option>
                    <option value="2.5">2 1/2</option>
                    <option value="2.75">2 3/4</option>
                    <option value="3">3</option>
                    <option value="3.25">3 1/4</option>
                    <option value="3.5">3 1/2</option>
                    <option value="3.75">3 3/4</option>
                    <option value="4">4</option>
                    <option value="4.5">4 1/2</option>
                    <option value="5">5</option>
                    <option value="5.5">5 1/2</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                </select>
                <select name="ingu{{ x }}" id="ingu{{ x }}">
                    <option value="whole">whole</option>
                    <option value="cups">cups</option>
                    <option value="Tbsp">Tbsp</option>
                    <option value="tsp">tsp</option>
                    <option value="box">box</option>
                    <option value="can">can</option>
                    <option value="ounces">ounces</option>
                    <option value="cloves">cloves</option>
                    <option value="leaves">leaves</option>
                </select>
                <input type="text" id="ing{{ x }}" name ="ing{{ x }}">
                {% set x = x + 1 %}
                <br><br>&emsp;
                <select name="ingn{{ x }}" id="ingn{{ x }}">
                    <option value="0.25">1/4</option>
                    <option value="0.33">1/3</option>
                    <option value="0.5">1/2</option>
                    <option value="0.66">2/3</option>
                    <option value="0.75">3/4</option>
                    <option value="1">1</option>
                    <option value="1.25">1 1/4</option>
                    <option value="1.5">1 1/2</option>
                    <option value="1.75">1 3/4</option>
                    <option value="2">2</option>
                    <option value="2.25">2 1/4</option>
                    <option value="2.5">2 1/2</option>
                    <option value="2.75">2 3/4</option>
                    <option value="3">3</option>
                    <option value="3.25">3 1/4</option>
                    <option value="3.5">3 1/2</option>
                    <option value="3.75">3 3/4</option>
                    <option value="4">4</option>
                    <option value="4.5">4 1/2</option>
                    <option value="5">5</option>
                    <option value="5.5">5 1/2</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                </select>
                <select name="ingu{{ x }}" id="ingu{{ x }}">
                    <option value="whole">whole</option>
                    <option value="cups">cups</option>
                    <option value="Tbsp">Tbsp</option>
                    <option value="tsp">tsp</option>
                    <option value="box">box</option>
                    <option value="can">can</option>
                    <option value="ounces">ounces</option>
                    <option value="cloves">cloves</option>
                    <option value="leaves">leaves</option>
                </select>
                <input type="text" id="ing{{ x }}" name ="ing{{ x }}">
                {% set x = x+1 %}
            </form></div>






    </div><!-- /.container -->
    </body>
</html>