<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>Julia's Recipe Box</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Home</a>
                <a class="navbar-brand" href="/addnew">Add Recipe</a>
                <a class="navbar-brand" href="/menu">View Menu</a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                This web app is still under construction!<br> Feel free to explore, but know that the features are not yet complete.<br><br>
                <form action="/" method="POST">

                    <label for="search">Find me recipes using:</label>&emsp;<input type="text" name="search" id="search">&emsp;
                    <input type="submit" class="btn btn-success" value="Search">
                </form>
            </div>
            <div class="row"><form action="/results" method="POST">
                <label for="name">Add recipe to my menu:</label>&emsp;<input type="text" name="name" id="name">
                <input type="submit" class="btn btn-success" value = "Add to Menu">
            </form></div>
            <br>
            <div class="row">
                <b><big>Current Recipes On File:</big></b><br>
            </div>

            {% for recipe in recipes %}
            <div class="row">
                &emsp;{{ recipe.name }}<br>&emsp;&emsp;&emsp;&emsp;<small><i>{{ recipe.description }}</i></small>
            </div>
            {% endfor %}<br><br>





    </div><!-- /.container -->
    </body>
</html>