<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

        <title>Julia's Recipe Box</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Home</a>
                <a class="navbar-brand" href="/addnew">Add Recipe</a>
                <a class="navbar-brand" href="#">View Menu</a>
                </div>
            </div>
        </nav>
        <div class="container">
            {% for recipe in recipes %}
            <div class="row">
                &emsp;&ensp;<b>{{ recipe.name }}</b><br>
                &emsp;&emsp;<i><small>{{ recipe.description }}</small></i><br>
                {% for ingredient in ingredients %}
                    {% if ingredient.recipe_id == recipe.id %}
                        {{ ingredient.amount }}&nbsp;{{ ingredient.unit }}&nbsp;{{ ingredient.name }}<br>
                    {% endif %}
                {% endfor %}<br>
                {{ recipe.directions }}<br><br>
            </div>
            {% endfor %}

        <div class="row">
            <form action="/build" method="POST">
                <input type="submit" class="btn btn-success" value = "Find Recipes with Similar Ingredients">
            </form>
        </div>
        <div class="row">
            <form action="/grocery" method="POST">
                <input type="submit" class="btn btn-success" value = "Print My Grocery List">
            </form>
        </div>
        <div class="row">
            <form action="/menu" method="POST">
                <input type="submit" class="btn btn-success" value = "Clear Menu">
            </form>
        </div>









    </div><!-- /.container -->
    </body>
</html>