

div {
    display: block;
    background-color: blue;
}


#navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar-tab{
    float:left;
    height: 50px;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 15px 15px;
    line-height:20px;
}

a:hover {
    background-color: #111;
}

.active {
  background-color: #4CAF50;
}
